<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--感谢ibatis持久层框架 2014-10 by wu-->
<mapper namespace="com.xindaibao.cashloan.system.mapper.SysDictDetailMapper">
	
	<!--返回MAP-->		
	<resultMap id="sysDictDetailResult" type="com.xindaibao.cashloan.system.domain.SysDictDetail">
		<id column="id" property="id" />
		<result column="item_code" property="itemCode" />
		<result column="item_value" property="itemValue" />
		<result column="parent_id" property="parentId" />
	</resultMap>
	<resultMap id="sysDictDetailResultMap" type="java.util.HashMap">
		<id column="id" property="id" />
		<result column="item_code" property="itemCode" />
		<result column="item_value" property="itemValue" />
		<result column="parent_id" property="parentId" />
	</resultMap>
	
	
		<!--基本的sql查询条件公共引用...-->
	<sql id="baseSysDictDetailWhereSql">
		 <where> 
		    <if test="id != null and id !=''">
		         ID = #{id}
		    </if> 
		    <if test="itemCode != null and itemCode !=''">
		        AND ITEM_CODE = #{itemCode}
		    </if>
		    <if test="itemValue != null and itemValue !=''">
		        AND ITEM_VALUE = #{itemValue}
		    </if>
		    <if test="parentId != null and parentId !=''">
		        AND PARENT_ID = #{parentId}
		    </if>
		  </where>
	</sql>
	
	<sql id="baseSql">
		ID,
		ITEM_CODE as itemCode,
		ITEM_VALUE as itemValue,
		PARENT_ID as parentId	
	</sql>
	
	<sql id="pageEnd">
		where rownum &lt;= #{end}) where rnum &gt;#{startRow}
	</sql>

	<sql id="pageStart">
		select * from (select rownum rnum,a.* from (
	</sql>
	
	<!-- 分页列表 map-->
	<select id="listSelective" resultMap="sysDictDetailResultMap" parameterType="java.util.HashMap" >
	 	select 
			id,
			item_code ,
			item_value ,
			parent_id 
	    from arc_sys_dict_detail
		<include refid="baseSysDictDetailWhereSql"/>
		order by ID desc
	</select>
	
	<select id="getCount" resultType="java.lang.Long" parameterType="java.util.HashMap" >
		select 
			count(1)		
	    from arc_sys_dict_detail
		<include refid="baseSysDictDetailWhereSql"/>
	</select>
	
	<select id="getItemVlueByParentId" resultMap="sysDictDetailResultMap" parameterType="java.lang.String" >
	 	select 
			item_value 
	    from arc_sys_dict_detail
		where parent_id = #{parentId}
	</select>
	
	<insert id="save" parameterType="com.xindaibao.cashloan.system.domain.SysDictDetail">
		insert into arc_sys_dict_detail(
			item_code,
			item_value,
			parent_id				
		)
		values (
			#{itemCode},
			#{itemValue},
			#{parentId}				
		)
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>
	
	
	<!--更新所有字段-->
	<update id="update" parameterType="com.xindaibao.cashloan.system.domain.SysDictDetail">
		update arc_sys_dict_detail
		set
			item_code=#{itemCode},
			item_value=#{itemValue},
			parent_id=#{parentId}
			<if test="state!=null and state!=null">
				,state=#{state}
			</if>			
		where
			id = #{id}
	</update>
	
	<!--根据ID删除-->
	<delete id="deleteByPrimary" parameterType="long">
		delete from arc_sys_dict_detail
		where
		id  = #{id}
 	</delete>
 	
 	<select id="queryAllDic" resultMap="sysDictDetailResultMap">
	 	SELECT
		    dic.type_code,
		    dic.type_name,
		    dd.item_code,
		    dd.item_value
		FROM
		    arc_sys_dict dic
		JOIN arc_sys_dict_detail dd ON dd.parent_id = dic.id
 	</select>
 	
 	<select id="findDetail" resultType="com.xindaibao.cashloan.system.domain.SysDictDetail">
 		select a.id,a.item_code itemCode,a.item_value itemValue,a.parent_id parentId,a.state from arc_sys_dict_detail a  LEFT JOIN arc_sys_dict b on b.id = a.parent_id 
		where a.item_code = #{code,jdbcType=VARCHAR} and b.type_code = #{parentName,jdbcType=VARCHAR}
 	</select>
 	
 	<select id="queryAllDicByParentName" resultMap="sysDictDetailResultMap" parameterType="java.lang.String">
	 	SELECT
	 		dd.id,
		    dic.type_code,
		    dic.type_name,
		    dd.item_code,
		    dd.item_value
		FROM
		    arc_sys_dict dic
		JOIN arc_sys_dict_detail dd ON dd.parent_id = dic.id
		<where>
			<if test="parentName!=null and parentName!=''">
				dic.type_code = #{parentName,jdbcType=VARCHAR}
			</if>
		</where>
 	</select>
 	
 	<!-- <select id="listByTypeCode" resultMap="sysDictDetailResult" parameterType="java.util.HashMap">
 		SELECT id,item_value 
		FROM arc_sys_dict_detail
		WHERE parent_id = 7
		AND id NOT IN (SELECT credit_type_id FROM arc_cr_credit_type)
	</select> -->
	
	<select id="listByTypeCode" resultMap="sysDictDetailResult" parameterType="java.util.HashMap">
 		SELECT dd.* 
		FROM arc_sys_dict d, arc_sys_dict_detail dd 
		WHERE dd.parent_id = d.id 
		AND d.type_code = #{typeCode,jdbcType=VARCHAR} 
		AND dd.state = 10
	</select>
 	
 	<select id="listUpdateCode" resultMap="sysDictDetailResult" parameterType="java.util.HashMap">
		SELECT id,item_value
		FROM arc_sys_dict_detail
		WHERE (parent_id=#{parentId} AND id NOT IN (SELECT credit_type_id FROM arc_cr_credit_type))
		OR id = #{id}
	</select>
	
</mapper>