<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_user_other_info表:用户更多信息模块 -->
<mapper namespace="com.xindaibao.cashloan.core.mapper.UserOtherInfoMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.core.domain.UserOtherInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="taobao" property="taobao" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="qq" property="qq" jdbcType="VARCHAR" />
        <result column="wechat" property="wechat" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,user_id,taobao,email,qq,wechat,create_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id !=null and id !=''">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId !=null and userId !=''">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="taobao !=null and taobao !=''">
                and taobao = #{taobao,jdbcType=VARCHAR}
            </if>
            <if test="email !=null and email !=''">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="qq !=null and qq !=''">
                and qq = #{qq,jdbcType=VARCHAR}
            </if>
            <if test="wechat !=null and wechat !=''">
                and wechat = #{wechat,jdbcType=VARCHAR}
            </if>
            <if test="createTime !=null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.core.domain.UserOtherInfo">
        insert into cl_user_other_info(user_id,taobao,email,qq,wechat,create_time)values(#{userId,jdbcType=INTEGER},#{taobao,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{qq,jdbcType=VARCHAR},#{wechat,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.core.domain.UserOtherInfo">
        update cl_user_other_info set 
            user_id = #{userId,jdbcType=INTEGER},
            taobao = #{taobao,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            qq = #{qq,jdbcType=VARCHAR},
            wechat = #{wechat,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_user_other_info
          <set>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=INTEGER},                
            </if>
            <if test="taobao != null and taobao != '' ">        
                taobao = #{taobao,jdbcType=VARCHAR},                
            </if>
            <if test="email != null and email != '' ">        
                email = #{email,jdbcType=VARCHAR},                
            </if>
            <if test="qq != null and qq != '' ">        
                qq = #{qq,jdbcType=VARCHAR},                
            </if>
            <if test="wechat != null and wechat != '' ">        
                wechat = #{wechat,jdbcType=VARCHAR},                
            </if>
            <if test="createTime !=null">
                create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_user_other_info
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_user_other_info
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_user_other_info
        <include refid="searchBy"/>
    </select>
    
</mapper>
