<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xindaibao.cashloan.cl.mapper.ClMoheUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.ClMoheUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
      <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="identity_code" jdbcType="VARCHAR" property="identityCode" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="hometown" jdbcType="VARCHAR" property="hometown" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="home_addr" jdbcType="VARCHAR" property="homeAddr" />
    <result column="home_tel" jdbcType="VARCHAR" property="homeTel" />
    <result column="work_addr" jdbcType="VARCHAR" property="workAddr" />
    <result column="work_tel" jdbcType="VARCHAR" property="workTel" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>


    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,task_id,user_id,real_name,identity_code,age,gender,hometown,email,home_addr,home_tel,work_addr,work_tel,company_name
    </sql>

    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="taskId != null and taskId != '' ">
                and task_id = #{taskId,jdbcType=VARCHAR}
            </if>
            <if test="userId != null and userId != '' ">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="realName != null and realName != '' ">
                and real_name = #{realName,jdbcType=VARCHAR}
            </if>
            <if test="identityCode != null and identityCode != '' ">
                and identity_code = #{identityCode,jdbcType=VARCHAR}
            </if>
            <if test="age != null and age != '' ">
                and age = #{age,jdbcType=VARCHAR}
            </if>
            <if test="gender != null and gender != '' ">
                and gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="hometown != null and hometown != '' ">
                and hometown = #{hometown,jdbcType=VARCHAR}
            </if>
            <if test="email != null and email != '' ">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="homeAddr != null and homeAddr != '' ">
                and home_addr = #{homeAddr,jdbcType=VARCHAR}
            </if>
            <if test="homeTel != null and homeTel != '' ">
                and home_tel = #{homeTel,jdbcType=VARCHAR}
            </if>
            <if test="workAddr != null and workAddr != '' ">
                and work_addr = #{workAddr,jdbcType=VARCHAR}
            </if>
            <if test="workTel != null and workTel != '' ">
                and work_tel = #{workTel,jdbcType=VARCHAR}
            </if>
            <if test="companyName != null and companyName != '' ">
                and company_name = #{companyName,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>


    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.ClMoheUserInfo">
        insert into cl_mohe_user_info(task_id,user_id,real_name,identity_code,age,gender,hometown,email,home_addr,home_tel,work_addr,work_tel,company_name)values(#{taskId,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT},#{realName,jdbcType=VARCHAR},#{identityCode,jdbcType=VARCHAR},#{age,jdbcType=VARCHAR},#{gender,jdbcType=VARCHAR},#{hometown,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{homeAddr,jdbcType=VARCHAR},#{homeTel,jdbcType=VARCHAR},#{workAddr,jdbcType=VARCHAR},#{workTel,jdbcType=VARCHAR},#{companyName,jdbcType=VARCHAR})
    </insert>


    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.ClMoheUserInfo">
        update cl_mohe_user_info set
        task_id = #{taskId,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=BIGINT},
        real_name = #{realName,jdbcType=VARCHAR},
        identity_code = #{identityCode,jdbcType=VARCHAR},
        age = #{age,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=VARCHAR},
        hometown = #{hometown,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        home_addr = #{homeAddr,jdbcType=VARCHAR},
        home_tel = #{homeTel,jdbcType=VARCHAR},
        work_addr = #{workAddr,jdbcType=VARCHAR},
        work_tel = #{workTel,jdbcType=VARCHAR},
        company_name = #{companyName,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_mohe_user_info
        <set>
            <if test="taskId != null and taskId != '' ">
                task_id = #{taskId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null and userId != '' ">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="realName != null and realName != '' ">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="identityCode != null and identityCode != '' ">
                identity_code = #{identityCode,jdbcType=VARCHAR},
            </if>
            <if test="age != null and age != '' ">
                age = #{age,jdbcType=VARCHAR},
            </if>
            <if test="gender != null and gender != '' ">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="hometown != null and hometown != '' ">
                hometown = #{hometown,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != '' ">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="homeAddr != null and homeAddr != '' ">
                home_addr = #{homeAddr,jdbcType=VARCHAR},
            </if>
            <if test="homeTel != null and homeTel != '' ">
                home_tel = #{homeTel,jdbcType=VARCHAR},
            </if>
            <if test="workAddr != null and workAddr != '' ">
                work_addr = #{workAddr,jdbcType=VARCHAR},
            </if>
            <if test="workTel != null and workTel != '' ">
                work_tel = #{workTel,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null and companyName != '' ">
                company_name = #{companyName,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_mohe_user_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_mohe_user_info
        <include refid="searchBy"/>
    </select>

    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_mohe_user_info
        <include refid="searchBy"/>
    </select>


</mapper>