<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_rc_dhb_binding表:贷后邦可疑绑定信息模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.DhbBindingMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.DhbBinding">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="binding_idcards_size" property="bindingIdcardsSize" jdbcType="INTEGER" />
        <result column="binding_idcards_detail" property="bindingIdcardsDetail" jdbcType="VARCHAR" />
        <result column="binding_phones_size" property="bindingPhonesSize" jdbcType="INTEGER" />
        <result column="binding_phones_detail" property="bindingPhonesDetail" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,order_no,user_id,binding_idcards_size,binding_idcards_detail,binding_phones_size,binding_phones_detail 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="orderNo != null and orderNo != '' ">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="userId != null and userId != '' ">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="bindingIdcardsSize != null and bindingIdcardsSize != '' ">
                and binding_idcards_size = #{bindingIdcardsSize,jdbcType=INTEGER}
            </if>
            <if test="bindingIdcardsDetail != null and bindingIdcardsDetail != '' ">
                and binding_idcards_detail = #{bindingIdcardsDetail,jdbcType=VARCHAR}
            </if>
            <if test="bindingPhonesSize != null and bindingPhonesSize != '' ">
                and binding_phones_size = #{bindingPhonesSize,jdbcType=INTEGER}
            </if>
            <if test="bindingPhonesDetail != null and bindingPhonesDetail != '' ">
                and binding_phones_detail = #{bindingPhonesDetail,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.DhbBinding">
        insert into cl_rc_dhb_binding(order_no,user_id,binding_idcards_size,binding_idcards_detail,binding_phones_size,binding_phones_detail)values(#{orderNo,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT},#{bindingIdcardsSize,jdbcType=INTEGER},#{bindingIdcardsDetail,jdbcType=VARCHAR},#{bindingPhonesSize,jdbcType=INTEGER},#{bindingPhonesDetail,jdbcType=VARCHAR})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.DhbBinding">
        update cl_rc_dhb_binding set 
            order_no = #{orderNo,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=BIGINT},
            binding_idcards_size = #{bindingIdcardsSize,jdbcType=INTEGER},
            binding_idcards_detail = #{bindingIdcardsDetail,jdbcType=VARCHAR},
            binding_phones_size = #{bindingPhonesSize,jdbcType=INTEGER},
            binding_phones_detail = #{bindingPhonesDetail,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_rc_dhb_binding
          <set>
            <if test="orderNo != null and orderNo != '' ">        
                order_no = #{orderNo,jdbcType=VARCHAR},                
            </if>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="bindingIdcardsSize != null and bindingIdcardsSize != '' ">        
                binding_idcards_size = #{bindingIdcardsSize,jdbcType=INTEGER},                
            </if>
            <if test="bindingIdcardsDetail != null and bindingIdcardsDetail != '' ">        
                binding_idcards_detail = #{bindingIdcardsDetail,jdbcType=VARCHAR},                
            </if>
            <if test="bindingPhonesSize != null and bindingPhonesSize != '' ">        
                binding_phones_size = #{bindingPhonesSize,jdbcType=INTEGER},                
            </if>
            <if test="bindingPhonesDetail != null and bindingPhonesDetail != '' ">        
                binding_phones_detail = #{bindingPhonesDetail,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_rc_dhb_binding
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_dhb_binding
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_dhb_binding
        <include refid="searchBy"/>
    </select>
    
</mapper>
