<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_adver表:广告管理模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.KanyaPayRecordMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.model.kenya.KanyaPayRecord">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="loan_record_id" property="loanRecordId" jdbcType="BIGINT" />
        <result column="loan_record_no" property="loanRecordNo" jdbcType="VARCHAR" />
        <result column="indent_no" property="indentNo" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="rtn_msg" property="rtnMsg"/>
        <result column="way_code" property="wayCode" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,loan_record_id,loan_record_no,indent_no,amount,pay_time,rtn_msg,way_code,remark,status,created_time,updated_time
    </sql>
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.model.kenya.KanyaPayRecord">
        insert into k_pay_record(loan_record_id,loan_record_no,indent_no,amount,pay_time,way_code,status,created_time,updated_time)
        values(#{loanRecordId,jdbcType=BIGINT},#{loanRecordNo,jdbcType=VARCHAR},#{indentNo,jdbcType=VARCHAR},#{amount,jdbcType=DECIMAL},#{payTime,jdbcType=TIMESTAMP},#{wayCode,jdbcType=VARCHAR},#{status,jdbcType=TINYINT},#{createdTime,jdbcType=TIMESTAMP},#{updatedTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="findByLoanRecordId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from k_pay_record
        where loan_record_id = #{loanRecordId,jdbcType=BIGINT}
    </select>

    
</mapper>
