<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_operator_resp_detail表:运营商认证通知详情表模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.OperatorRespDetailMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.OperatorRespDetail">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="req_log_id" property="reqLogId" jdbcType="BIGINT" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="notify_params" property="notifyParams" jdbcType="VARCHAR" />
        <result column="notify_time" property="notifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,req_log_id,order_no,notify_params,notify_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="reqLogId != null and reqLogId != '' ">
                and req_log_id = #{reqLogId,jdbcType=BIGINT}
            </if>
            <if test="orderNo != null and orderNo != '' ">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="notifyParams != null and notifyParams != '' ">
                and notify_params = #{notifyParams,jdbcType=VARCHAR}
            </if>
            <if test="notifyTime != null">
                and notify_time = #{notifyTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.OperatorRespDetail">
        insert into cl_operator_resp_detail(req_log_id,order_no,notify_params,notify_time)values(#{reqLogId,jdbcType=BIGINT},#{orderNo,jdbcType=VARCHAR},#{notifyParams,jdbcType=VARCHAR},#{notifyTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.OperatorRespDetail">
        update cl_operator_resp_detail set 
            req_log_id = #{reqLogId,jdbcType=BIGINT},
            order_no = #{orderNo,jdbcType=VARCHAR},
            notify_params = #{notifyParams,jdbcType=VARCHAR},
            notify_time = #{notifyTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_operator_resp_detail
          <set>
            <if test="reqLogId != null and reqLogId != '' ">        
                req_log_id = #{reqLogId,jdbcType=BIGINT},                
            </if>
            <if test="orderNo != null and orderNo != '' ">        
                order_no = #{orderNo,jdbcType=VARCHAR},                
            </if>
            <if test="notifyParams != null and notifyParams != '' ">        
                notify_params = #{notifyParams,jdbcType=VARCHAR},                
            </if>
            <if test="notifyTime != null">
                notify_time = #{notifyTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_operator_resp_detail
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_operator_resp_detail
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_operator_resp_detail
        <include refid="searchBy"/>
    </select>
    
</mapper>
