<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_operator_bills表:运营商信息-月账单模块 -->
<mapper
	namespace="com.xindaibao.cashloan.cl.mapper.OperatorBillsMapper">
	<!--返回Map -->
	<resultMap id="BaseResultMap"
		type="com.xindaibao.cashloan.cl.domain.OperatorBills">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="month" property="month" jdbcType="TIMESTAMP" />
		<result column="bill_month_date_start" property="billMonthDateStart" jdbcType="TIMESTAMP" />
		<result column="bill_month_date_end" property="billMonthDateEnd" jdbcType="TIMESTAMP" />
		<result column="bill_month_amt" property="billMonthAmt" jdbcType="DECIMAL" />
		<result column="biz_no" property="bizNo" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<!--基本的sql查询字段 公共引用... -->
	<sql id="Base_Column_List">
		id,gmt_modified,phone_num,gmt_create,month,bill_month_date_start,bill_month_date_end,bill_month_amt,biz_no,create_time
	</sql>

	<!-- 基本的sql查询条件公共引用 -->
	<sql id="searchBy">
		<trim prefix="where" prefixOverrides="and|or">
			<if test=" id !=null">
				id = #{id,jdbcType=INTEGER}
			</if>
			<if test="gmtModified !=null">
				and gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
			</if>
			<if test="phoneNum !=null and phoneNum !=''">
				and phone_num = #{phoneNum,jdbcType=VARCHAR}
			</if>
			<if test="gmtCreate !=null">
				and gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
			</if>
			<if test="month !=null">
				and month = #{month,jdbcType=TIMESTAMP}
			</if>
			<if test="billMonthDateStart !=null">
				and bill_month_date_start = #{billMonthDateStart,jdbcType=TIMESTAMP}
			</if>
			<if test="billMonthDateEnd !=null">
				and bill_month_date_end = #{billMonthDateEnd,jdbcType=TIMESTAMP}
			</if>
			<if test="billMonthAmt !=null">
				and bill_month_amt = #{billMonthAmt,jdbcType=DECIMAL}
			</if>
			<if test="bizNo !=null and bizNo !=''">
				and biz_no = #{bizNo,jdbcType=VARCHAR}
			</if>
		</trim>
	</sql>


	<insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.OperatorBills">
		insert into cl_operator_bills (
			gmt_modified,
			phone_num,
			gmt_create,
			month,
			bill_month_date_start,
			bill_month_date_end,
			bill_month_amt,biz_no,
			create_time
		)
		values(
			#{gmtModified,jdbcType=TIMESTAMP},
			#{phoneNum,jdbcType=VARCHAR},
			#{gmtCreate,jdbcType=TIMESTAMP},
			#{month,jdbcType=TIMESTAMP},
			#{billMonthDateStart,jdbcType=TIMESTAMP},
			#{billMonthDateEnd,jdbcType=TIMESTAMP},
			#{billMonthAmt,jdbcType=DECIMAL},
			#{bizNo,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>


	<update id="update"
		parameterType="com.xindaibao.cashloan.cl.domain.OperatorBills">
		update cl_operator_bills set
		<set>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="phoneNum != null and phoneNum != '' ">
				phone_num = #{phoneNum,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="month != null">
				month = #{month,jdbcType=TIMESTAMP},
			</if>
			<if test="billMonthDateStart != null">
				bill_month_date_start = #{billMonthDateStart,jdbcType=TIMESTAMP},
			</if>
			<if test="billMonthDateEnd != null">
				bill_month_date_end = #{billMonthDateEnd,jdbcType=TIMESTAMP},
			</if>
			<if test="billMonthAmt != null">
				bill_month_amt = #{billMonthAmt,jdbcType=DECIMAL},
			</if>
			<if test="bizNo != null and bizNo != '' ">
				biz_no = #{bizNo,jdbcType=VARCHAR}
			</if>
		</set>
		where id = #{id ,jdbcType=INTEGER}
	</update>


	<update id="updateSelective" parameterType="java.util.HashMap">
		update cl_operator_bills
		<set>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="phoneNum != null and phoneNum != '' ">
				phone_num = #{phoneNum,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="month != null">
				month = #{month,jdbcType=TIMESTAMP},
			</if>
			<if test="billMonthDateStart != null">
				bill_month_date_start = #{billMonthDateStart,jdbcType=TIMESTAMP},
			</if>
			<if test="billMonthDateEnd != null">
				bill_month_date_end = #{billMonthDateEnd,jdbcType=TIMESTAMP},
			</if>
			<if test="billMonthAmt != null">
				bill_month_amt = #{billMonthAmt,jdbcType=DECIMAL},
			</if>
			<if test="bizNo != null and bizNo != '' ">
				biz_no = #{bizNo,jdbcType=VARCHAR}
			</if>
		</set>
		where id = #{id ,jdbcType=INTEGER}
	</update>


	<select id="findByPrimary" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from cl_operator_bills
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="findSelective" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from cl_operator_bills
		<include refid="searchBy" />
	</select>

	<select id="listSelective" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from cl_operator_bills
		<include refid="searchBy" />
	</select>

</mapper>
