<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xindaibao.cashloan.cl.mapper.OrdernoLoanMapper">
  <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.model.kenya.OrdernoLoan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="indent_no" jdbcType="VARCHAR" property="indentNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, indent_no
  </sql>
  <!-- 基本的sql查询条件公共引用 -->
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test=" id != null and id != '' ">
        id  = #{id,jdbcType=BIGINT}
      </if>
      <if test="indentNo != null and indentNo != '' ">
        and indentNo = #{indent_no,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from k_orderno_loan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="save" parameterType="com.xindaibao.cashloan.cl.model.kenya.OrdernoLoan">
    insert into k_orderno_loan (id, indent_no)
    values (#{id,jdbcType=INTEGER}, #{indentNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xindaibao.cashloan.cl.model.kenya.OrdernoLoan">
    insert into k_orderno_loan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="indentNo != null">
        indent_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="indentNo != null">
        #{indentNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xindaibao.cashloan.cl.model.kenya.OrdernoLoan">
    update k_orderno_loan
    <set>
      <if test="indentNo != null">
        indent_no = #{indentNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.xindaibao.cashloan.cl.model.kenya.OrdernoLoan">
    update k_orderno_loan
    set indent_no = #{indentNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from k_orderno_loan
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from k_orderno_loan
    <include refid="searchBy"/>
  </select>

  <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select
    <include refid="Base_Column_List" />
    from k_orderno_loan
    <include refid="searchBy"/>
  </select>
</mapper>