<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_pay_resp_log表:支付响应记录模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.PayRespLogMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.PayRespLog">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,order_no,type,params,create_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != null and id != '' ">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="orderNo !=null and orderNo !=''">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="type != null and type !=''">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="params !=null and params !=''">
                and params = #{params,jdbcType=VARCHAR}
            </if>
            <if test="createTime !=null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.PayRespLog">
        insert into cl_pay_resp_log(order_no,type,params,create_time)values(#{orderNo,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{params,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.PayRespLog">
        update cl_pay_resp_log set 
            order_no = #{orderNo,jdbcType=VARCHAR},
            type = #{type,jdbcType=INTEGER},
            params = #{params,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_pay_resp_log
          <set>
            <if test="orderNo != null and orderNo != '' ">        
                order_no = #{orderNo,jdbcType=VARCHAR},                
            </if>
            <if test="type != null and type != '' ">        
                type = #{type,jdbcType=INTEGER},                
            </if>
            <if test="params != null and params != '' ">        
                params = #{params,jdbcType=VARCHAR},                
            </if>
            <if test="createTime != null">        
                create_time = #{createTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_pay_resp_log
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_pay_resp_log
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_pay_resp_log
        <include refid="searchBy"/>
    </select>

	<!-- 分页查询 -->
	<select id="page" resultType="com.xindaibao.cashloan.cl.model.ManagePayRespLogModel"
		parameterType="java.util.HashMap">
		 select
        <include refid="Base_Column_List" />
        from cl_pay_resp_log
        <include refid="searchBy"/>
	</select>
	
	<!-- 分页查询 -->
	<select id="findDetail" resultType="com.xindaibao.cashloan.cl.model.ManagePayRespLogModel"
		parameterType="java.lang.Long">
		 select
        <include refid="Base_Column_List" />
        from cl_pay_resp_log
		where id = #{id ,jdbcType=INTEGER}
	</select>
	
	
</mapper>
