<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_rc_huadao_blacklist_log表:华道黑名单记录表模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.RcJiGuangLbsCheckLogMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.RcJiGuangLbsCheckLog">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="is_black" property="isBlack" jdbcType="VARCHAR" />
        <result column="resp_code" property="respCode" jdbcType="VARCHAR" />
        <result column="resp_params" property="respParams" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,user_id,order_no,is_black,resp_code,resp_params,create_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId != null and userId != '' ">
                and user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="orderNo != null and orderNo != '' ">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="isBlack != null and isBlack != '' ">
                and is_black = #{isBlack,jdbcType=VARCHAR}
            </if>
            <if test="respCode != null and respCode != '' ">
                and resp_code = #{respCode,jdbcType=VARCHAR}
            </if>
            <if test="respParams != null and respParams != '' ">
                and resp_params = #{respParams,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.RcHuadaoBlacklistLog">
        insert into cl_rc_jiguang_lbscheck_log(user_id,order_no,is_black,resp_code,resp_params,create_time)values(#{userId,jdbcType=BIGINT},#{orderNo,jdbcType=VARCHAR},#{isBlack,jdbcType=VARCHAR},#{respCode,jdbcType=VARCHAR},#{respParams,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.RcHuadaoBlacklistLog">
        update cl_rc_jiguang_lbscheck_log set
            user_id = #{userId,jdbcType=BIGINT},
            order_no = #{orderNo,jdbcType=VARCHAR},
            is_black = #{isBlack,jdbcType=VARCHAR},
            resp_code = #{respCode,jdbcType=VARCHAR},
            resp_params = #{respParams,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_rc_jiguang_lbscheck_log
          <set>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=BIGINT},                
            </if>
            <if test="orderNo != null and orderNo != '' ">        
                order_no = #{orderNo,jdbcType=VARCHAR},                
            </if>
            <if test="isBlack != null and isBlack != '' ">        
                is_black = #{isBlack,jdbcType=VARCHAR},                
            </if>
            <if test="respCode != null and respCode != '' ">        
                resp_code = #{respCode,jdbcType=VARCHAR},                
            </if>
            <if test="respParams != null and respParams != '' ">        
                resp_params = #{respParams,jdbcType=VARCHAR},                
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_rc_jiguang_lbscheck_log
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_jiguang_lbscheck_log
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_jiguang_lbscheck_log
        <include refid="searchBy"/>
    </select>
    
</mapper>
