<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_rc_zhima_industry表:芝麻行业关注名单模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.RcZhimaIndustryMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.RcZhimaIndustry">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="is_matched" property="isMatched" jdbcType="VARCHAR" />
        <result column="biz_no" property="bizNo" jdbcType="VARCHAR" />
        <result column="details" property="details" jdbcType="VARCHAR" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,user_id,is_matched,biz_no,details,transaction_id,create_time
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !='' and id !=null">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId !='' and userId !=null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="isMatched !='' and isMatched !=null">
                and is_matched = #{isMatched,jdbcType=VARCHAR}
            </if>
            <if test="bizNo !='' and bizNo !=null">
                and biz_no = #{bizNo,jdbcType=VARCHAR}
            </if>
            <if test="details !='' and details !=null">
                and details = #{details,jdbcType=VARCHAR}
            </if>
            <if test="transactionId !='' and transactionId !=null">
                and transaction_id = #{transactionId,jdbcType=VARCHAR}
            </if>
            <if test="createTime !=null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.RcZhimaIndustry">
        insert into cl_rc_zhima_industry(user_id,is_matched,biz_no,details,transaction_id,create_time)
        values
        (#{userId,jdbcType=INTEGER},#{isMatched,jdbcType=VARCHAR},#{bizNo,jdbcType=VARCHAR},#{details,jdbcType=VARCHAR},
        #{transactionId,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.RcZhimaIndustry">
        update cl_rc_zhima_industry set 
            user_id = #{userId,jdbcType=INTEGER},
            is_matched = #{isMatched,jdbcType=VARCHAR},
            biz_no = #{bizNo,jdbcType=VARCHAR},
            details = #{details,jdbcType=VARCHAR},
            transaction_id = #{transactionId,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_rc_zhima_industry
          <set>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=INTEGER},                
            </if>
            <if test="isMatched != null and isMatched != '' ">        
                is_matched = #{isMatched,jdbcType=VARCHAR},                
            </if>
            <if test="bizNo != null and bizNo != '' ">        
                biz_no = #{bizNo,jdbcType=VARCHAR},                
            </if>
            <if test="details != null and details != '' ">        
                details = #{details,jdbcType=VARCHAR},                
            </if>
            <if test="transactionId !='' and transactionId !=null">
                transaction_id = #{transactionId,jdbcType=VARCHAR},
            </if>
            <if test="createTime !=null">
                create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_rc_zhima_industry
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_zhima_industry
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_zhima_industry
        <include refid="searchBy"/>
    </select>
    
    <select id="findByuserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    	 select
        <include refid="Base_Column_List" />
        from cl_rc_zhima_industry
        where user_id = #{userId,jdbcType=VARCHAR} order by create_time DESC
    </select>
    
</mapper>
