<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xindaibao.cashloan.cl.mapper.RepayRecordMapper">
  <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.model.kenya.RepayRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="indent_no" jdbcType="VARCHAR" property="indentNo" />
    <result column="loan_record_id" jdbcType="BIGINT" property="loanRecordId" />
    <result column="loan_record_no" jdbcType="VARCHAR" property="loanRecordNo" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="way_code" jdbcType="VARCHAR" property="wayCode" />
    <result column="repay_time" jdbcType="TIMESTAMP" property="repayTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, indent_no, loan_record_id, loan_record_no, way_code, amount, repay_time,status,
    created_time, updated_time
  </sql>
  <!-- 基本的sql查询条件公共引用 -->
  <sql id="searchBy">
    <trim prefix="where" prefixOverrides="and|or">
      <if test=" id != null and id != '' ">
        id  = #{id,jdbcType=BIGINT}
      </if>
      <if test="indentNo != null and indentNo != '' ">
        and indent_no = #{indentNo,jdbcType=VARCHAR}
      </if>
      <if test="loanRecordId != null and loanRecordId != '' ">
        and loan_record_id = #{loanRecordId,jdbcType=BIGINT}
      </if>
      <if test="loanRecordNo != null and loanRecordNo != '' ">
        and loan_record_no = #{loanRecordNo,jdbcType=VARCHAR}
      </if>
      <if test="amount != null and amount != '' ">
        and amount = #{amount,jdbcType=DECIMAL}
      </if>
      <if test="wayCode != null and wayCode != '' ">
        and way_code = #{wayCode,jdbcType=VARCHAR}
      </if>
      <if test="completionTime != null and completionTime != '' ">
        and completion_time = #{completionTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null and status != '' ">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="createdTime != null and createdTime != '' ">
        and created_time = #{createdTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedTime != null and updatedTime != '' ">
        and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>

  <select id="findByLoanRecordId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from k_repay_record
    where loan_record_id = #{loanRecordId}
  </select>

  <insert id="saveLoanRecord" parameterType="com.xindaibao.cashloan.cl.model.kenya.RepayRecord">
        insert into k_repay_record(
          indent_no,loan_record_id,loan_record_no,amount,way_code,repay_time,status,created_time,updated_time
        )
        values(
        #{indentNo},
        #{loanRecordId},
        #{loanRecordNo},
        #{amount},
        #{wayCode},
        #{repayTime},
        #{status},
        #{createdTime},
        #{updatedTime}
        )
    </insert>

  <update id="updateLoanRecord" parameterType="com.xindaibao.cashloan.cl.model.kenya.RepayRecord">
    update k_repay_record
    <set>
      <if test="indentNo != null">indent_no = #{indentNo},</if>
      <if test="loanRecordId != null">loan_record_id = #{loanRecordId},</if>
      <if test="loanRecordNo != null">loan_record_no = #{loanRecordNo},</if>
      <if test="amount != null">amount = #{amount},</if>
      <if test="wayCode != null">way_code = #{wayCode},</if>
      <if test="repayTime != null">repay_time = #{repayTime},</if>
      <if test="status != null">status = #{status},</if>
      <if test="createdTime != null">created_time = #{createdTime},</if>
      <if test="updatedTime != null">updated_time = #{updatedTime},</if>
    </set>
    where id = #{id}
  </update>
</mapper>