<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_tongdun_resp_detail表:同盾审核报告详细信息模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.TongdunRespDetailMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.TongdunRespDetail">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="req_id" property="reqId" jdbcType="BIGINT" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="report_id" property="reportId" jdbcType="VARCHAR" />
        <result column="query_params" property="queryParams" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,req_id,order_no,report_id,query_params 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null and id != '' ">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="reqId != null and reqId != '' ">
                and req_id = #{reqId,jdbcType=BIGINT}
            </if>
            <if test="orderNo != null and orderNo != '' ">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="reportId != null and reportId != '' ">
                and report_id = #{reportId,jdbcType=VARCHAR}
            </if>
            <if test="queryParams != null and queryParams != '' ">
                and query_params = #{queryParams,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.TongdunRespDetail">
        insert into cl_tongdun_resp_detail(req_id,order_no,report_id,query_params)values(#{reqId,jdbcType=BIGINT},#{orderNo,jdbcType=VARCHAR},#{reportId,jdbcType=VARCHAR},#{queryParams,jdbcType=VARCHAR})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.TongdunRespDetail">
        update cl_tongdun_resp_detail set 
            req_id = #{reqId,jdbcType=BIGINT},
            order_no = #{orderNo,jdbcType=VARCHAR},
            report_id = #{reportId,jdbcType=VARCHAR},
            query_params = #{queryParams,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_tongdun_resp_detail
          <set>
            <if test="reqId != null and reqId != '' ">        
                req_id = #{reqId,jdbcType=BIGINT},                
            </if>
            <if test="orderNo != null and orderNo != '' ">        
                order_no = #{orderNo,jdbcType=VARCHAR},                
            </if>
            <if test="reportId != null and reportId != '' ">        
                report_id = #{reportId,jdbcType=VARCHAR},                
            </if>
            <if test="queryParams != null and queryParams != '' ">        
                query_params = #{queryParams,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_tongdun_resp_detail
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_tongdun_resp_detail
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_tongdun_resp_detail
        <include refid="searchBy"/>
    </select>
    
</mapper>
