<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_user_emer_contacts表:紧急联系人表模块 -->
<mapper namespace="com.xindaibao.cashloan.cl.mapper.UserEmerContactsMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.cl.domain.UserEmerContacts">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="relation" property="relation" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,name,phone,user_id,relation,type 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id !='' and id !=null">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="name !='' and name !=null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="phone !='' and phone !=null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="userId !='' and userId !=null">
                and user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="relation !='' and relation !=null">
                and relation = #{relation,jdbcType=VARCHAR}
            </if>
            <if test="type !='' and type !=null">
                and type = #{type,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.cl.domain.UserEmerContacts">
        insert into cl_user_emer_contacts(name,phone,user_id,relation,type)values(#{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER},#{relation,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.cl.domain.UserEmerContacts">
        update cl_user_emer_contacts set 
            name = #{name,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=INTEGER},
            relation = #{relation,jdbcType=VARCHAR},
            type = #{type,jdbcType=VARCHAR}
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_user_emer_contacts
          <set>
            <if test="name != null and name != '' ">        
                name = #{name,jdbcType=VARCHAR},                
            </if>
            <if test="phone != null and phone != '' ">        
                phone = #{phone,jdbcType=VARCHAR},                
            </if>
            <if test="userId != null and userId != '' ">        
                user_id = #{userId,jdbcType=INTEGER},                
            </if>
            <if test="relation != null and relation != '' ">        
                relation = #{relation,jdbcType=VARCHAR},                
            </if>
            <if test="type != null and type != '' ">        
                type = #{type,jdbcType=VARCHAR}                
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_user_emer_contacts
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_user_emer_contacts
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_user_emer_contacts
        <include refid="searchBy"/>
    </select>
    
</mapper>
