<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_rc_statistics_business表:风控数据统计接口模块 -->
<mapper namespace="com.xindaibao.cashloan.rc.mapper.StatisticsBusinessMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.xindaibao.cashloan.rc.domain.StatisticsBusiness">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="statistics_id" property="statisticsId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="nid" property="nid" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="extend" property="extend" jdbcType="VARCHAR" />
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,statistics_id,name,nid,state,extend,add_time 
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id != null">
                id  = #{id,jdbcType=BIGINT}
            </if>
            <if test="statisticsId != null">
                and statistics_id = #{statisticsId,jdbcType=BIGINT}
            </if>
            <if test="name != null and name != '' ">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="nid != null and nid != '' ">
                and nid = #{nid,jdbcType=VARCHAR}
            </if>
            <if test="state != null and state != '' ">
                and state = #{state,jdbcType=VARCHAR}
            </if>
            <if test="extend != null and extend != '' ">
                and extend = #{extend,jdbcType=VARCHAR}
            </if>
            <if test="addTime != null">
                and add_time = #{addTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.xindaibao.cashloan.rc.domain.StatisticsBusiness">
        insert into cl_rc_statistics_business(statistics_id,name,nid,state,extend,add_time)values(#{statisticsId,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{nid,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},#{extend,jdbcType=VARCHAR},#{addTime,jdbcType=TIMESTAMP})
    </insert>

    
    <update id="update" parameterType="com.xindaibao.cashloan.rc.domain.StatisticsBusiness">
        update cl_rc_statistics_business
         <set>
            <if test="statisticsId != null">        
                statistics_id = #{statisticsId,jdbcType=BIGINT},                
            </if>
            <if test="name != null and name != '' ">        
                name = #{name,jdbcType=VARCHAR},                
            </if>
            <if test="nid != null and nid != '' ">        
                nid = #{nid,jdbcType=VARCHAR},                
            </if>
            <if test="state != null and state != '' ">        
                state = #{state,jdbcType=VARCHAR},                
            </if>
            <if test="extend != null and extend != '' ">        
                extend = #{extend,jdbcType=VARCHAR},                
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP}            
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_rc_statistics_business
         <set>
            <if test="statisticsId != null">        
                statistics_id = #{statisticsId,jdbcType=BIGINT},                
            </if>
            <if test="name != null and name != '' ">        
                name = #{name,jdbcType=VARCHAR},                
            </if>
            <if test="nid != null and nid != '' ">        
                nid = #{nid,jdbcType=VARCHAR},                
            </if>
            <if test="state != null and state != '' ">        
                state = #{state,jdbcType=VARCHAR},                
            </if>
            <if test="extend != null and extend != '' ">        
                extend = #{extend,jdbcType=VARCHAR},                
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP}            
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_rc_statistics_business
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_statistics_business
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_rc_statistics_business
        <include refid="searchBy"/>
    </select>
    
</mapper>
